.message {
    width: 80%;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    border-radius: 10px;
}

.avatar {
    width: 50px;
}

.message {
    background-color: #f2f2f2;

}
.myMessage {
    background-color: #ACE1F7;
    align-self: flex-end;
}