
.fieldWrapper {
    display: flex;
    justify-content: center;
}

.fieldLabel {
    text-align: right;
}

.fieldInput {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
}

.validateMessage {
    color: red;
}

.input {
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}
