.textField {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
}

.input {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #DBE2EA;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    padding: 16px;
    font-size: 16px;
    line-height: 21px;
}

.input:focus {
    border: 1px solid #0880AE;
    outline: none;
}

.input::placeholder {
    color: #7C9CBF;
}

.label {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #3E4659;

}

.error {
    display: block;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    color: #FF7171;
}
.errorLabel {
    border: solid 1px red;
}
