
.content {
    grid-area: content;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 40px 20px;
    grid-gap: 20px;
  }
  .posts {
  }
  .profile  {   
  }
  .postsContent {
      display: flex;
      flex-direction: column-reverse;
  }

  