.loginPage {
    margin: 40px 20px;
}
.formWrapper {
    width: 800px;
    margin: 0 auto;
}
.input, .checkbox{
    margin-bottom: 10px;
}
.checkbox span {
    margin-left: 5px;
}
.input label{
    /*min-width: 100px;*/
    /*margin-right: 10px;*/
}
.formLabel{
    display: block;
}

.checkbox {
    display: inline-block;
}

/*.validateMessage:before {*/
/*    display: inline-block;*/
/*    font: normal normal normal 14px/1 FontAwesome;*/
/*    font-size: inherit;*/
/*    text-rendering: auto;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*    content: '\F06A';*/
/*    margin-right: 5px;*/
/*}*/
