.title {
    width: 100%;
    background: #F2F2F2;
    border-radius: 10px 10px 0 0;
    margin-bottom: 2px;
    min-height: 40px;
    line-height: 40px;
}

.content {
    width: 100%;
    background: #F2F2F2;
    border-radius: 0 0 10px 10px;
    /*min-height: 40px;*/
    /*line-height: 40px;*/

}